VITE_SUPABASE_URL=https://pzjhtwubibcgvxzejomb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6amh0d3ViaWJjZ3Z4emVqb21iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2ODMwODYsImV4cCI6MjA5MTI1OTA4Nn0.2oQ-ZnVcGEDkY7sJqf8e6RUd12ieP2CbYZ0P3ac5NRI
